:root{
    --primary-color: #9b948a;
    --secondary-color: #6a6354;
    --the-green-color: #809671;
    --the-vanilla-color: #e5d2b8;

}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: "Oswald", serif;
    color:#FEFCE2;
}

body{
    background-color: var(--secondary-color);
    display: grid;
    grid-template-areas:
    'header header header header header'
    'imageA imageA imageA imageA imageA'
    'textA textB textB textB textB'
    'pictureA information information information information'
    'boxes boxes boxes boxes boxes'
    'imagesB imagesB imagesB imagesB imagesB'
    'textC textC textC pictureB pictureB'
    'video video video video textD'
    'footer footer footer footer footer'
    ;
}

.header{
    grid-area: header;
    width: 100%;
    height: 120px;
    display: block;
    background-color: var(--primary-color);
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.logo img{
padding: 25px;
}
.navbar ul li{
    display: inline-block;
    margin: 5px;
    padding: 2px;
    font-size:1.1em;
    font-weight: bold;
    line-height: 35px;  
}
.navbar li:hover{
background-color: var(--secondary-color);
border-radius: 10px;
}
.socialMedia{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
}
.socialMedia ul li{
    display: inline-block;
    width: 35px;
    height: 35px;
    padding-right: 10px;
}
.socialMedia ul li:hover{
    opacity: 0.6;
}
.btn {
    background-color: #c06b32;
    color: white;
    padding: 5px 8px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: 0.3s ease;
}
.btn:hover {
    background-color: #eb6341;
}
.imageA{
    grid-area: imageA;
    background-image: url('images/no-image2.png');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 15vh;
}
.textA{
    grid-area: textA;
    border: #333 solid 1px;
    padding: 5px 8px;
}
.textB{
    grid-area: textB;
    border: #333 solid 1px;
    padding: 5px 8px;
}
.pictureA{
    grid-area: pictureA;
    border: #333 solid 1px;
    display: flex;
    justify-content: center;
}
.pictureA img{
    width: 20vw;
    height: 40vh;
}
.information{
    grid-area: information;
    border: #333 solid 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    height: 40vh;
    text-align: center;
    font-size: 2rem;
}
.boxes{
    grid-area: boxes;
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 40vh;
    gap: 5rem;
}
.boxA{
    border: #333 solid 1px;
    padding: 1rem;
    width: 20%;
    height: 40%;
}
.boxB{
    border: #333 solid 1px;
    padding: 1rem;
    width: 20%;
    height: 40%;
}
.boxC{
    border: #333 solid 1px;
    padding: 1rem;
    width: 20%;
    height: 40%;
}
.boxD{
    border: #333 solid 1px;
    padding: 1rem;
    width: 20%;
    height: 40%;
}
.imagesB{
    grid-area: imagesB;
    width: 100vw;
    height: 30vh;
}
.imagesB img{
    width: 16.4%;
}
.textC{
    grid-area: textC;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: #333 solid 1px;
    padding: 5px 8px;
}
.pictureB{
    grid-area: pictureB;
    display: flex;
    justify-content: center;
    border: #333 solid 1px;
}
.pictureB img{
    width: 20vw;
    height: 40vh;
}
.video{
    grid-area: video;
    height: 40vh;
    border: #333 solid 1px;
    padding: 5px 8px;
    text-align: center;
    font-size: 2rem;
}
.textD{
    grid-area: textD;
    height: 40vh;
    border: #333 solid 1px;
    padding: 5px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    grid-area: footer;
    width: 100%;
    height: 250px;
    display: block;
    background-color: var(--primary-color);
    text-align: center;
}
.box2 img{
    height: 20px;
    width: 20px;  
}
.columns{
    display: flex;
    flex-direction: row;
    justify-content:space-around;

}
.box1{
    display: flex;
    flex-direction: column;
    width: 30%; 
}
.box1 p{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
.box2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.box2 li{
    padding: 0.5rem;
}
.box3{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.box3 li{
    padding: 0.3rem;
}
.box4{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.box4 li{
    padding: 0.3rem;
}
.rowEnd{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}
.policyTerms{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}