:root{
    --primary-color: #837d75;
    --secondary-color: #776f5e;
    --the-green-color: #94ac85;
    --the-vanilla-color: #e5d2b8;

}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: "Oswald", serif;
    color:#FEFCE2;
}

ul {
    list-style-type: none;
  }


body{
    background-color: var(--secondary-color);
    display: grid;
    grid-template-areas:
    'header header header header header'
    'heroImage heroImage heroImage heroImage heroImage '
    'boxes boxes sidetextA sidetextA sidetextA'
    'imageA imageA imageA imageA imageA'
    'sidetextB sidetextB pictures pictures pictures'
    'imageB imageB imageB imageB imageB'
    'sponsors sponsors sponsors sponsors sponsors'
    'carousel carousel carousel carousel carousel'
    'faq faq faq faq faq'
    'newsletterArea newsletterArea newsletterArea newsletterArea newsletterArea'
    'footer footer footer footer footer'
    ;
}

.header{
    grid-area: header;
    width: 100%;
    height: 120px;
    display: block;
    background-color: var(--primary-color);
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.logo img{
padding: 20px;
}
.navbar ul li{
    display: inline-block;
    margin: 5px;
    padding: 2px;
    font-size:1.1em;
    font-weight: bold;
    line-height: 35px;  
}
.navbar li:hover{
background-color: var(--secondary-color);
border-radius: 10px;
}
.socialMedia{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
}
.socialMedia ul li{
    display: inline-block;
    width: 35px;
    height: 35px;
    padding-right: 10px;
}
.socialMedia ul li:hover{
    opacity: 0.6;
}
.heroImage{
    grid-area: heroImage;
    background-image: url('images/bailey-zindel-NRQV-hBF10M-unsplash.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.grey-overlay {
    position: absolute;
    left: 0px;
    top:0px;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-color: #000;
}
.heroText{
    z-index: 2;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn {
    background-color: #c06b32;
    color: white;
    padding: 5px 8px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: 0.3s ease;
    max-width: 8rem;
}
.btn:hover {
    background-color: #eb6341;
}
.boxes{
    grid-area: boxes;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    height: 50vh;
    gap: 5rem;
}
.boxA{
    border: #333 solid 5px;
    padding: 0.5rem;
    margin-top: 1rem;
    width: 20%;
    height: 30%;
    background-color: var(--the-green-color);
    border-radius: 4px;
}
.boxB{
    border: #333 solid 5px;
    padding: 0.5rem;
    margin-top: 1.5rem;
    margin-left: 2rem;
    width: 20%;
    height: 30%;
    background-color: var(--the-green-color);
    border-radius: 4px;
}
.boxC{
    border: #333 solid 5px;
    padding: 0.5rem;
    margin-left: 5rem;
    width: 20%;
    height: 30%;
    background-color: var(--the-green-color);
    border-radius: 4px;
}
.boxD{
    border: #333 solid 5px;
    padding: 0.5rem;
    margin-left: 2rem;
    width: 20%;
    height: 30%;
    background-color: var(--the-green-color);
    border-radius: 4px;
}
.sidetextA{
    grid-area: sidetextA;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: #333 solid 1px;
    padding: 1rem;
    text-align: center;
    height: 50vh;
}
.imageA{
    grid-area: imageA;
    background-image: url('images/no-image2.png');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 25vh;
}
.sidetextB{
    grid-area: sidetextB;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: #333 solid 1px;
    padding: 5px 8px;
    height: 45vh;
}
.pictures{
    grid-area: pictures;
}
.pictures img{
    width: 40%;
    height: 55%;
}
.imageB{
    grid-area: imageB;
    background-image: url('images/no-image3.png');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 25vh;
}
.sponsors{
    grid-area: sponsors;
    background-color:grey;
    border: #333 solid 1px;
    width: 100vw;
    height: 35vh;
    text-align: center;
    font-size: 2rem;
}
.carousel{
    grid-area: carousel;
    background-image: url('images/no-carousel.png');
    background-repeat: no-repeat;
    border: #333 solid 1px;
    width: 100vw;
    height: 55vh;
    background-position: center;
    text-align:left;
    font-size: 2rem;
}
.faq{
    grid-area: faq;
    background-color:cornflowerblue;
    border: #333 solid 1px;
    width: 100vw;
    height: 45vh;
    text-align: center;
    font-size: 2rem;
}
.newsletterArea{
    grid-area: newsletterArea;
    background-color:darkcyan;
    border: #333 solid 1px;
    width: 100vw;
    height: 45vh;
    text-align: center;
    font-size: 2rem;
}
.footer{
    grid-area: footer;
    width: 100%;
    height: 250px;
    display: block;
    background-color: var(--primary-color);
    text-align: center;
}
.box2 img{
    height: 20px;
    width: 20px;  
}
.columns{
    display: flex;
    flex-direction: row;
    justify-content:space-around;

}
.box1{
    display: flex;
    flex-direction: column;
    width: 30%; 
}
.box1 p{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
.box2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.box2 li{
    padding: 0.5rem;
}
.box3{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.box3 li{
    padding: 0.3rem;
}
.box4{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.box4 li{
    padding: 0.3rem;
}
.rowEnd{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}
.policyTerms{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}