:root {
  --primary-color: #837d75;
  --secondary-color: #776f5e;
  --the-green-color: #94ac85;
  --the-vanilla-color: #e5d2b8;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Oswald", serif;
  color: #fefce2;
}

ul {
  list-style-type: none;
}

body {
  background-color: var(--secondary-color);
  display: grid;
  grid-template-areas:
    "header header header header header"
    "heroImage heroImage heroImage heroImage heroImage "
    "boxes boxes sidetextTeam sidetextTeam sidetextTeam"
    "imageA imageA imageA imageA imageA"
    "sidetextSchedule sidetextSchedule fourPictures fourPictures fourPictures"
    "sponsors sponsors sponsors sponsors sponsors"
    "carousel carousel carousel carousel carousel"
    "faq faq faq faq faq"
    "newsletterArea newsletterArea newsletterArea newsletterArea newsletterArea"
    "footer footer footer footer footer";
}

.header {
  grid-area: header;
  width: 100%;
  height: 120px;
  display: block;
  background-color: var(--primary-color);
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.logo img {
  padding: 25px;
}
.navbar ul li {
  display: inline-block;
  margin: 5px;
  padding: 2px;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 35px;
}
.navbar li:hover {
  background-color: var(--secondary-color);
  border-radius: 10px;
}
.socialMedia {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.socialMedia ul li {
  display: inline-block;
  width: 35px;
  height: 35px;
  padding-right: 10px;
}
.socialMedia ul li:hover {
  opacity: 0.6;
}
.heroImage {
  grid-area: heroImage;
  background-image: url("../images/sunset-group.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.greyOverlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: rgb(116, 130, 73);
  background: linear-gradient(
    0deg,
    rgba(116, 130, 73, 0.4431022408963585) 0%,
    rgba(159, 134, 79, 1) 100%
  );
}
.heroText {
  z-index: 2;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.btn {
  background-color: #c06b32;
  color: white;
  padding: 5px 8px;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 5px;
  transition: 0.3s ease;
  max-width: 8rem;
}
.btn:hover {
  background-color: #eb6341;
}
.boxes {
  padding-left: 1rem;
  grid-area: boxes;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  height: 65vh;
  gap: 5rem;
}
.boxDays {
  border: #333 solid 5px;
  padding: 0.5rem;
  margin-top: 1rem;
  width: 20%;
  height: 30%;
  background-color: var(--the-green-color);
  border-radius: 4px;
}
.boxActivities {
  border: #333 solid 5px;
  padding: 0.5rem;
  margin-top: 1.5rem;
  margin-left: 2rem;
  width: 20%;
  height: 30%;
  background-color: var(--the-green-color);
  border-radius: 4px;
}
.boxSponsors {
  border: #333 solid 5px;
  padding: 0.5rem;
  margin-left: 5rem;
  width: 20%;
  height: 30%;
  background-color: var(--the-green-color);
  border-radius: 4px;
}
.boxInstructors {
  border: #333 solid 5px;
  padding: 0.5rem;
  margin-left: 2rem;
  width: 20%;
  height: 30%;
  background-color: var(--the-green-color);
  border-radius: 4px;
}
.sidetextTeam {
  grid-area: sidetextTeam;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  text-align: center;
  padding: 5rem;
  height: 65vh;
}
.imageA {
  grid-area: imageA;
  background-image: url("../images/40150.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 40vh;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.sidetextSchedule {
  grid-area: sidetextSchedule;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 5rem;
  height: 45vh;
}
.fourPictures {
  grid-area: fourPictures;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 5rem;
}
.fourPictures img {
  width: 40%;
  height: 45%;
}

.sponsors {
  grid-area: sponsors;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100vw;
  height: 75vh;
  text-align: center;
}
.sponsors img {
  width: 120px;
  height: 150px;
}
.sponsorsLogos {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
}
.carousel {
  grid-area: carousel;
  background-image: url("images/no-carousel.png");
  background-repeat: no-repeat;
  border: #333 solid 1px;
  width: 100vw;
  height: 55vh;
  background-position: center;
  text-align: left;
  font-size: 2rem;
}
.faq {
  grid-area: faq;
  border: #333 solid 1px;
  width: 100vw;
  height: 90vh;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding-left: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.newsletterArea {
  grid-area: newsletterArea;
  background-image: url("../images/5493.jpg");
  background-size: cover;
  background-position: center;
  border: #333 solid 1px;
  width: 100vw;
  height: 55vh;
}
.newsletterBox {
  z-index: 2;
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-items: center;
  width: 30%;
  position: relative;
  left: 15%;
  top: 25%;
  border: #837d75 solid 1px;
  background-color: #837d75b6;
  border-radius: 15px;
  padding: 1rem;
}
.newsletterBox input[type="email"] {
  width: 50%;
  padding: 0.2rem;
  border: 1px solid #333;
  border-radius: 4px;
}
.footer {
  grid-area: footer;
  width: 100%;
  height: 250px;
  display: block;
  background-color: var(--primary-color);
  text-align: center;
}
.box2 img {
  height: 20px;
  width: 20px;
}
.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.box1 {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.box1 p {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}
.box2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.box2 li {
  padding: 0.5rem;
}
.box3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.box3 li {
  padding: 0.3rem;
}
.box4 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.box4 li {
  padding: 0.3rem;
}
.rowEnd {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}
.policyTerms {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
