body {
  display: grid;
  grid-template-areas:
    "header header header header header"
    "startImage startImage startImage startImage startImage"
    "member1 member1 member1 member1 member1"
    "member2 member2 member2 member2 member2"
    "member3 member3 member3 member3 member3"
    "footer footer footer footer footer";
}

.startImage {
  grid-area: startImage;
  background-image: url("../images/portrait-indigenous-person-integrating-society.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 35vh;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.startImage h1 {
  position: relative;
  left: 15%;
  top: 25%;
  width: 15%;
  border: var(--the-text-color) solid 1px;
  background-color: var(--the-transparent-color);
  color: var(--the-text-color);
  border-radius: 15px;
  padding: 1rem;
  text-align: center;
}
.members {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 200vh;
  align-items: center;
  justify-content: center;
  border: #333 solid 1px;
  padding: 5px 8px;
  gap: 1.5rem;
}
.member1 {
  grid-area: member1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.member2 {
  grid-area: member2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.member3 {
  grid-area: member3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.members img {
  width: 150px;
  height: 180px;
  border-radius: 40%;
}
.members p {
  width: 60%;
}
