body {
  display: grid;
  grid-template-areas:
    "header header header header header"
    "startImage startImage startImage startImage startImage"
    "filterButtons filterButtons filterButtons filterButtons filterButtons"
    "members members members members members"
    "footer footer footer footer footer";
}

.startImage {
  grid-area: startImage;
  background-image: url("../images/25810922_7130967-fotor-20250225221936.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 35vh;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.startImage h1 {
  position: relative;
  left: 15%;
  top: 25%;
  width: 15%;
  border: var(--the-text-color) solid 1px;
  background-color: var(--the-transparent-color);
  color: var(--the-text-color);
  border-radius: 15px;
  padding: 1rem;
  text-align: center;
}
.filterButtons {
  grid-area: filterButtons;
  text-align: center;
  margin: 5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100vw;
  height: fit-content;
}
.filterButtons button {
  background-color: var(--the-text-color);
  color: white;
  box-shadow: 0.7px 0.8px 0 0 #37474e, 1.3px 1.8px 0 0 #37474e,
    2.3px 2.8px 0 0 #37474e, 3.3px 3.8px 0 0 #37474e, 4.3px 4.8px 0 0 #37474e,
    5.3px 5.8px 0 0 #37474e, 6.3px 6.8px 0 0 #37474e, 7.3px 7.8px 0 0 #37474e,
    8.3px 8.8px 0 0 #37474e, 9.3px 9.8px 0 0 #37474e;
  border-radius: 3px;
  border: 2px solid #37474e;
  padding: 15px 30px;
  font-size: 18px;
  position: relative;
  inset: 0;
  cursor: pointer;
  transform: rotateX(0), rotateY(0) rotateZ(0);
  display: inline-block;
  outline: 2px dashed transparent;
  transition: all 600ms ease;
}
.filterButtons button:hover {
  inset: 6px 0 5.5px 0;
  transform: rotateX(5deg) rotateY(3deg) rotateZ(0.25deg);
  box-shadow: none;
}

.members {
  grid-area: members;
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  gap: 2rem;
  justify-content: space-evenly;
}

.member {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 18.75rem;
  max-height: 28.125rem;
  margin: 5rem;
  transition: 0.3s ease-in-out;
}
.member h3,
.member h4 {
  padding: 0.5rem;
}
.member p {
  width: 15.625rem;
  overflow-y: scroll;
}
.member img {
  width: 50%;
  height: auto;
  border-radius: 40%;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, height 0.3s ease;
}

@media (max-width: 1024px) {
  .startImage h1 {
    left: 10%;
    width: 25%;
    font-size: 1.5rem;
    padding: 0.8rem;
  }

  .member {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 15.625rem;
    max-height: 25rem;
    margin: 3rem;
    transition: 0.3s ease-in-out;
  }
  .member p {
    width: 11.25rem;
    overflow-y: scroll;
  }

  .filterButtons {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.25rem;
  }

  .filterButtons button {
    padding: 12px 20px;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .startImage h1 {
    left: 5%;
    width: 50%;
    font-size: 1.3rem;
    padding: 0.6rem;
  }
  .members {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .member {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 15.625rem;
    max-height: 28.125rem;
    margin: 1.5rem;
    transition: 0.3s ease-in-out;
  }
  .member p {
    width: 12.5rem;
    overflow-y: scroll;
  }

  .filterButtons {
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    margin: 1rem 0;
  }

  .filterButtons button {
    width: 6.25rem;
    padding: 0.6rem;
    font-size: 0.875rem;
  }
}
